body {
    text-align: center;
    padding: 50px;
        }
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}
.content {
  width: 1000px;
  height: 600px;
  color: #f1f1f1;
  /* Center vertically and horizontally */
  position: absolute;
  top: 20%;
  left: 20%;
  margin: -25px 0 0 -25px; 
}
h1 {
  font-family: "Lucida Handwriting", cursive;
}
p {
  font-family: "Ariel";
  font-size: 150px;
}